@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Francois+One&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&family=Signika:wght@300;400&family=Special+Elite&family=VT323&family=Zen+Antique&display=swap');

body {
  background-color: #B8E2F2
}


*{
  text-align:center;
  font-family: Signika;


}
h1 {
  color:white;
  font-style: normal;
  font-size: 100px;
  border: 5px dotted white;

  margin-left: 300px;
  margin-right: 300px;

  text-shadow: 5px 5px gray;

}

h2 {
  color:white;
  text-shadow: 2px 2px gray;
}

p {
  text-align:center;
  padding-left:20px;
  padding-right:20px;
  line-height: 15px;
  color:white;
  text-shadow: 1px 1px gray;


}

#girls {
  display:flex;
}

#desc {
  text-align: left;
  color:white;

}

.item {
  margin:20px;
  width:1000px;
  height:450px;
  border: 3px dotted white;
  padding-top:5px;



}
.cover {
  width:190px;
  border: 5px solid white;

}
